@{
    ViewBag.Title = "Details";
}
@section scripts{
<script src="../../Modules/History.js"></script>
}

<div class="container">
    <div class="starter-template">
        <div ng-app="HistoryApp" ng-controller="historyHandler">
            <div class="alert alert-info" ng-show="loading">Loading, please wait...</div>
                <table class="table table-bordered table-striped" ng-show="!loading">
                    <tr class="">
                        <th>Id</th>
                        <th>Creation Time</th>
                        <th>Original url</th>
                        <th>Short Url</th>
                        <th>Jumps</th>
                    </tr>
                    <tr ng-repeat="item in items">
                        <td>{{item.Id}}</td>
                        <td>{{item.CreationTime}}</td>
                        <td>{{item.OriginalUrl}}</td>
                        <td><a href="{{item.ShortUrl}}">{{item.ShortUrl}}</a></td>
                        <td><span class="badge">{{item.Jumps}}</span></td>
                    </tr>
                </table>
        </div>
    </div>
</div>